// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.notif {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    height: min-content;
    transition: outline 0.6s linear;
    border-left: 4px solid transparent;
}

.has-badge {
    position: absolute;
    right: 20%;
    top: 22%;
    content: attr(data-behavior);
    font-size: 20px;
    padding: .2em;
    border-radius: 50%;
    line-height: 0.7em;
    color: white;
    background: rgb(243, 43, 43);
    text-align: center;
    min-width: 1.5em;
    font-weight: bold;
}

.notif:hover {
    background-color: rgb(235, 235, 235);
    box-shadow: #444 0 0 0px !important;
    border-left: 4px solid #c2c2c2 !important;
}

.dropdown-toggle {
    margin-right: 20px;
}

.notif-time {
    color: dimgray;
    padding-left: 5px;
    font-size: 13px;
}

.notif>img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-right: 15px;
}

.dropdown-menu {
    width: max-content;
    background-color: whitesmoke;
}

.notif-footer {
    padding: 5px;
    font-size: 17px;
    text-align: center;
}

.notif-footer:hover {
    background-color: rgb(235, 235, 235);
    box-shadow: #444 0 0 0px !important;
}

.fa-bell:hover {
    transition: opacity .3s, transform 1s;
    transform: rotate(-360deg) scale(1.5);
    opacity: .5;
}

.notif-name {
    margin-right: 5px;
}

.bell {
    font-size: 25px;
    // margin: auto;
}